<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
    id="IntelliCC_Proposals"
    name="IntelliCC_Proposals_By_Yyx">
    <proposalCategory icon="icons/cc.png"/>
  </extension>
  <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
    id="CodeCompletionProposalComputer"
    name="Code_Completion_Proposal_Computer">
    <javaCompletionProposalComputer
      activate="true"
      class="cn.yyx.contentassist.codecompletion.IntelliJavaProposalComputer"
      categoryId="IntelliCC.IntelliCC_Proposals">
      <!--<partition type="__dftl_partition_content_type"/>-->
      <!--<partition type="__java_string"/>-->
      <!--<partition type="__java_singleline_comment"/>-->
      <!--<partition type="__java_multiline_comment"/>-->
      <!--<partition type="__java_javadoc"/>-->
    </javaCompletionProposalComputer>
  </extension>
  <extension
        id="CodeCompletionPracticalID"
        name="Practical_Code_Completion"
        point="org.eclipse.ui.preferencePages">
     <page
           class="cn.yyx.contentassist.codecompletion.IpPreferencePage"
           id="cn.yyx.research.codecompleteplugin.preferencepage"
           name="CodeCompletionPractical">
     </page>
  </extension>
</plugin>
